.profile {
  margin: 0 auto;
  width: 300px;
  text-align: center;
  font-size: larger;
  font-family: cursive;
  box-shadow: 10px 5px 5px black;
  padding: 10px;
  color: gray;
  border: 2px solid gray;
}
.description {
  margin-bottom: 10px;
}
.avatar {
  width: 250px;
  border-radius: 50%;
}
.stats {
  display: flex;
  list-style: none;
}
.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 15px;
}
.name {
  color: black;
}
.quantity {
  color: black;
}
