.title {
  text-align: center;
  color: white;
  background-color: rgb(0, 174, 255);
  width: 200px;
  padding: 10px 0;
}
.stringTable:nth-child(2n) {
  background-color: rgb(189, 209, 228);
}
.about {
  text-align: center;
  color: gray;
}
